@page "/Ressources/create"
@using InputFile = Microsoft.AspNetCore.Components.Forms.InputFile
@using MoodProject.Core.Models
@using MoodProject.Core.Ports.In
@using MoodProject.App.Models
@using MoodProject.Core
@using MoodProject.Core.Enums
@inject IExternalRessourceService ExternalRessourceService

@attribute [Authorize]

<h1>Création d'une nouvelle ressource</h1>
@if (RessourceCreationOperation.Status == OperationResultType.Ok)
{
    <SuccessMessage Text="@RessourceCreationOperation.Message"/>
    <a class="btn btn-primary" href="/ressource/@RessourceCreationOperation.Content.Id">Voir la ressource</a>
}
else if (RessourceCreationOperation.Status == OperationResultType.Error)
{
    <ErrorMessage Text="@RessourceCreationOperation.Message" />
}
else if (RessourceCreationOperation.Status is OperationResultType.WaitingForUser or OperationResultType.Pending)
{
    <EditForm Model="RessourceForm" OnSubmit="RessourceFormSubmit">
        <div class="form-group my-2">
            <label>Titre</label>
            <InputText @bind-Value="@RessourceForm.Title" class="form-control"/>
        </div>
        <div class="form-group my-2">
            <label>Contenu</label>
            <InputTextArea @bind-Value="@RessourceForm.Content" class="form-control"/>
        </div>
        <div class="form-group my-2">
            <label>Fichiers</label>
            <InputFile multiple OnChange="@LoadFiles" class="form-control"/>
        </div>
        @if (RessourceCreationOperation.Status == OperationResultType.Pending)
        {
            <LoadingText />
        }
        @if (RessourceCreationOperation.Status == OperationResultType.WaitingForUser)
        {
            <button type="button" class="btn btn-primary mt-2" onclick="@RessourceFormSubmit">Valider</button>
        }
    </EditForm>
}

@code {
    private Ressource RessourceForm = new();
    private HashSet<RessourceFileToUpload> FilesToUpload = new();
    private OperationResult<Ressource> RessourceCreationOperation = new OperationResult<Ressource>(OperationResultType.WaitingForUser);

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            FilesToUpload.Add(new RessourceFileToUpload(file));
        }
    }

    private async Task RessourceFormSubmit()
    {
        RessourceCreationOperation = new OperationResult<Ressource>(OperationResultType.Pending);
        var filesWithContent = new List<FileWithContent>();
        foreach (var file in FilesToUpload)
        {
            Console.WriteLine(file.BrowserFile.Name);
            using (var stream = file.BrowserFile.OpenReadStream(file.BrowserFile.Size))
            {
                var buffer = new byte[stream.Length];
                await stream.ReadAsync(buffer, 0, (int)stream.Length);
                filesWithContent.Add(new FileWithContent(file.BrowserFile.Name, Convert.ToBase64String(buffer)));
            }
        }
        RessourceCreationOperation = await ExternalRessourceService.Create(RessourceForm, filesWithContent);
    }
}